
<h5>Tweet : </h5>
Active sequence _numebr : {{active_num}}
<div>{{getClassFromBufferInput(t.sequence_num)}}
	<span ng-repeat="t in tokens" ng-class="getClassFromBufferInput(t.sequence_num)"> {{t.token}} </span>
</div>
<button ng-click="setLabel('i-name');" class="EventNameText">nama event</button>
<button ng-click="setLabel('i-place');" class="EventLocationText">lokasi event</button>
<button ng-click="setLabel('i-time');" class="EventTimeText">Waktu Event</button>
<button ng-click="setLabel('contact');" class="EventContactText">Kontak event</button>
<button ng-click="setLabel('other');" class="EventOtherText">Bukan informasi event</button>
<br>
Bufer input : <pre>{{buffer_input}}</pre>
<br>
<hr>
<br>
<button ng-click="moveToPreviousWord();">Previous Word</button><button ng-click="moveToNextWord();">Next Word !</button>
<br>
<button ng-click="moveToNextTweet();">Next Tweet !</button>

<h6>Daftar Id tweet yang bermasalah : </h6>
<ul>
	<li ng-repeat="ul in unlabelled_tweet_ids"> <a href="https://twitter.com/fawwaz_muhammad/status/{{ul.id}}">{{ul.id}}</a></li>
</ul>
<hr>
ini home ada tautan menuju link lainya bener gak sih bisa berubah

<ul>
	<li>
		<a ui-sref="home">Balik lagi ke home </a>
	</li>
	<li>
		<a ui-sref="quiz">Masuk ke state quiz</a>
	</li>
</ul>
ini data dari NEDB

Text to be inserted <input type="text" ng-model="text_field"> <button ng-click="createData();">Add !</button><br>
<ul>
	<li ng-repeat="d in nedbdatas">
		{{d}}
	</li>
</ul>
 
ada berupa ini kampret :
<ol>
	<li ng-repeat="data in datas">
		{{data}}
		<b>{{data.sequence_num}}</b> : {{data.token}}
	</li>
</ol>


